*{
    background-color: black;
}

/* .one{
    position: absolute;
    left: 100px;
    top: 200px;
}

.two{
    position: absolute;
    left: 200px;
    top: 200px;
}

.three{
    position: absolute;
    left: 300px;
    top: 200px;
}

.four{
    position: absolute;
    left: 400px;
    top: 200px;
}

.five{
    position: absolute;
    left:500px;
    top: 200px;
}
.six{
    position: absolute;
    left: 600px;
    top: 200px;
}

.seven{
    position: absolute;
    left: 700px;
    top: 200px;
}

.eight{
    position: absolute;
    left: 800px;
    top: 200px;
}

.nine{
    position: absolute;
    left: 900px;
    top: 200px;
}

.ten{
    position: absolute;
    left: 1000px;
    top: 200px;
}

.eleven{
    position: absolute;
    left: 1100px;
    top: 200px;
}

.twelve{
    position: absolute;
    left: 1200px;
    top: 200px;
}  */


/* .flex-container{
    display:flex;
    justify-content: center;
    position: absolute;
    width: 18px;
    height: 250px;
    background-color:white;
} */


